@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Set your desired background color */
    
}

.after-login {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff; /* Set your desired background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.after-login h1 {
    color: #333; /* Set your desired text color */
}

.after-login p {
    margin: 10px 0;
}

.after-login a {
    color: #007bff; /* Set your desired link color */
    text-decoration: none;
    margin: 0 10px;
}
