body {
    /* background-color: #3f3d3d; */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('img/body-bg.jpg');
    width: 100%;
}

.container {
    width: 80%;
    margin: 10rem auto;
}

/* showadmin.css */

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style for the pagination links */
.pagination {
    margin-top: 20px;
}

.pagination a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

/* Style for the insert button */
.insert-button {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    top: 8.5rem;
    right: 10rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insert-button:hover {
    background-color: #45a049;
    
}

/* Define different background colors for alternate rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

.link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link:hover {
    background-color: #b3207a;
}

/* Responsive styles */
@media only screen and (max-width: 1290px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 60%;
        /* border: 1px solid red; */
    }

    table {
        display: block;
        width: 400px;
        /* border: 1px solid rgb(52, 7, 250); */
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        /* border: 1px solid rgb(10, 228, 57); */
    }

    th {
        /* text-align: center; */
        display: none;
    }
}
